* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
    /*-------------------------slideshow style-------------*/

.slideshow {
    background-color: black;
    width: 100%;
    min-height: 70vh;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
    .slideshow h2 {
        color: #ED2A2A;
    }

    .mySlides {
        display: none;
    }

.slideshow img {
    
    width: 70%;
    border-radius: 20px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 80vh;   
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
    

    
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 20px;
    }
}




/*-------------------------slideshow style ends-------*/


    
   

h1 {
    color: whitesmoke;
    font-size: 5vh;
    font-weight: 700;
    text-shadow: 1px 1px 2px black, 0 0 1em darkred, 0 0 0.2em darkred;
    
   

}

.sub-header h1

{
    text-align: left;
    margin-left: 70%;
}

.sub-header1 h1 {
    text-align: left;
    margin-left: 70%;
}
.sub-header2 h1 {
    text-align: left;
    margin-left: 70%;
}
.sub-header3 h1 {
    text-align: left;
    margin-left: 70%;
}
.sub-header4 h1 {
    text-align: left;
    margin-left: 70%;
}


.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6) 50%, transparent 60%), url(images/3d-rendering-cpu-or-processor-chip-on-motherboard-electronic-device-and-circuit-board-artificial-intelligence-concept-technology-background-free-photo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
}
nav {
    height: 40px;  
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background: black;
    
}

.TITLE {
    float: left;
    display: block;
    margin-top: 10px;
}

.TITLE img {
    inline-size: 150px;

    
}
.nav-links {
    flex: 1;
    text-align: right;
    margin-top: 20px;
    
  
}
    .nav-links ul li {
        list-style: none;
        display: inline-block;
       
        padding: 10px 15px;
        position: relative;
    }
        .nav-links ul li a {
            text-decoration: none;
            font-size: 17px;
            font-weight: 600;
            color: #ED2A2A;
            
        }
       
            

        
        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: white;
            display: block;
            margin: auto;
            margin-top: 7px;
            transition: 0.6s;
        }
    .nav-links ul li:hover::after {
        width: 100%;
    }




.text-box1 h1{
    font-weight: 900;
    color: whitesmoke;
    margin-top: 30vh;
    
}


.text-box {
    position: center;
    margin-top: 10vh;
    margin-left: 20vh;
}



    .text-box h1 {
        font-size: 6vh;
        font-weight: 800;
        color: whitesmoke;
        text-shadow: 0 0 10px black, 0 0 5em black, 0 0 9em black;
    }

span {
    text-shadow: 0 0 10px black, 0 0 5em #ED2A2A, 0 0 9em #ED2A2A;
    color: #ED2A2A;
}



.text-box p {
    font-size: 20px;
    color: whitesmoke;
    font-weight: 900;
    text-shadow: 0 0 10px black, 0 0 5em black, 0 0 9em black;
    margin-top: 5vh;
}


.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-shadow: 0 0 10px black, 0 0 5em black, 0 0 9em black;
    margin-top: 5vh;
}
    .btn:hover {
        border: 2px solid white;
        background: #ED2A2A;
        text-shadow: 0 0 10px black, 0 0 5em black, 0 0 9em black;
        color: whitesmoke;
        transition: 0.9s;
    }
   nav .icons{
       display: none;
   }
   
   


/*---------- services ---------*/
.services {
    background-color: black;
    width: 100%;
    min-height: 70vh;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.services a{
    text-decoration: none;
    
}


p {
    color: whitesmoke;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    padding: 14px;
}
.row {
    
    display: flex;
    justify-content: space-around;
}

.services .row {
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 3%;
   
}

.services-list {
    flex-basis: 20%;
    background: whitesmoke;
    border-radius: 20px;
    margin-bottom: 4%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.6s;
}

h3 {
    text-align: center;
    font-weight: 700;
    margin: 15px 20px 20px;
    color: black;
}


.services-list:hover {
    box-shadow: 0 0 50px 0 #ED2A2A;
}







/*--------------    Devices    ---------------*/

.devices {
    background-color: black;
    width: 100%;
    min-height: 80vh;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
   
.devices .row  {

    margin:5%;

}


    .device-list {
        
        flex-basis: 20%;
        border-radius: 20px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        
    }
    .device-list h2{
        margin-top: 10px;
        color: whitesmoke;
        
    }

        .device-list img {
            width: 100%;
            height: 100%;
            
        }



.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s;
    font-weight: 800;
}

    .layer:hover {
        background: linear-gradient(rgb(0, 0, 0, 0.40),rgba(0, 0, 0, 0.5));

    }


.layer h2 {

         width: 100%;
         font-weight: 500;
         font-size: 25px;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         position: absolute;
         opacity: 0;
         transition: 0.6s;
    }

    .layer:hover h2{
        bottom:40%;
        opacity: 1;
    }
       

    /*---------------   TEAM   ---------------------*/


.Team {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}





.teamMembers {
    padding-top: 20px;
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}



    .teamMembers img {
        width: 40vh;
        height: 40vh;
        border-radius: 15px;
        transition: 0.5s;
    }
    .teamMembers img:hover {
        box-shadow: 0 0 30px 0 rgb(128, 128, 128);
    }

.teamMembers p{
    color: whitesmoke;
    
}

.teamMembers h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: whitesmoke;
}

/*--------------- Trusted By ----------*/

.trustedBy {
    width: 100%;
    min-height: 60vh;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    background-color: black;



    
}

    .trustedBy .img1 {
        width: 200px;
        height: 80px;
        position: center;
        margin-top: 20%;
    }

    .trustedBy .img2 {
        width: 80px;
        height: 60px;
        position: center;
        margin-top: 70%;
    }


    .trustedBy .img3 {
        width: 140px;
        height: 60px;
        position: center;
        margin-top: 40%;
    }



    .trustedBy .img4 {
        width: 200px;
        height: 50px;
        position: center;
        margin-top: 30%;
    }

   

/*-----------------  footer  ---------------------*/

.footer {
    width:100%;
    background-color: black;
    text-align: center;
    padding: 30px 0;
    

}


.footer h4 {
    
    margin-top: 20px;
    font-weight: 600;
    color: gray;
}
.footer a {
    text-decoration:none;

}

.netIcons img{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
   

}

/* ---------------- SERVICES --------------------*/



.sub-header {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6) 50%, transparent 60%), url(images/22_Lukowski.png);
    background-position: top;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
}


.services-list2 {

    flex-basis: 90%;
    background: whitesmoke;
    border-radius: 20px;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: left;
    transition: 0.6s;
}
    .services-list2 p{color: gray;}

    .services-list2:hover {
        box-shadow: 0 0 30px 0 #ED2A2A;
    }

    .services-list2 h3 {
        text-align: left;
    }


/* ---------------- DEVICES --------------------*/
.sub-header4 {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6) 50%, transparent 60%), url(images/PCBPost_063021.png);
    background-position: top;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
}


.devices-list2 {
    flex-basis: 90%;
    background: whitesmoke;
    border-radius: 20px;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: left;
    transition: 0.6s;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

    .devices-list2:hover {
        box-shadow: 0 0 30px 0 #ED2A2A;
    }

    .devices-list2 h3 {
        text-align: left;
    }

.device-list3 {
    flex-basis: 45%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

    .device-list3 h2 {
        margin-top: 30px;
        color: whitesmoke;
    }
    .device-list3 p {
        color: gray;
    }

    .device-list3 img {
        width: 100%;
        height: 100%;
    }



/* ---------------- About Us --------------------*/

.sub-header1 {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6) 50%, transparent 60%), url(images/pexels-sergei-starostin-6636500.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}



.about-us {
    width: 100%;
    padding-top: 30px;
    background-color: black;
    text-align: center;
}
  
.about-us .row {

    margin-top: 5%

}


    .about-col img {
        width: 100%;
        
        
    }


    .about-col p {
        margin-top: 2%;
        padding: 5%;
    }

.short-info {
    text-align: center;
    padding-right: 3%;
    

}
.short-info h2{
text-align: center;

}

    
.member-col {
    flex-basis: 50%;
    
}
.member-col h3{
    color: whitesmoke;
}
    .member-col img {
        width: 70%;
        border-radius: 20px;
        
        
    }



   

/*---------------- Blog ----------------*/




.sub-header2 {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6) 50%, transparent 60%), url(images/headers_akashic.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.Publications {
    text-align: center;
    margin-top: 50px;
}
    .Publications h4 {
        text-align: center;
        margin-top:50px;
    }
    .Publications p {color: black;}

/*------------------ contact us ----------------*/



.sub-header3 {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.7) 30%, transparent 60%), url(images/Contact-Us.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}



.location{
    width: 90%;
    margin: auto;
    padding: 80px 0;

}

.location iframe{
    width:100%;
}

.contact-us {
   width: 100%;
   margin: auto;
}
    .contact-us p {
        color: black;
    }
.contact-col {
    flex-basis: 60%;
    margin-bottom: 50px;
    margin-left: 70px;

}

.contact-col div i {
    display: flex;
    align-items: center;
    margin:auto;
    margin-left: 30px;
   
}

    .contact-col div p{
        padding: 10px;
    }

    .contact-col div h5 {
        font-size: 17px;
        margin-top: 10px;
        margin-left: 10px;
        color: #ED2A2A;
        font-weight:400;
    }

    .contact-col input, .contact-col textarea {
        width: 75%;
        padding: 15px;
        margin-bottom: 17px;
        
        outline: none;
        border: 2px solid #ED2A2A;
        border-radius: 5px;
    }

.btn2 {
    display: inline-block;
    text-decoration: none;
    color: gray;
    border: 2px solid #ED2A2A;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 3%;
}

    .btn2:hover {
        border: 2px solid #ED2A2A;
        background: #ED2A2A;
        transition: 0.6s;
    }


@media (max-width: 700px) {


    .row {
        flex-direction: column;
    }


    .TITLE img {
        inline-size: 100px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: black;
        height: 100vh;
        width: 200px;
        top: -20px;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.8s;
    }


    nav .icons {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }


    

    .sub-header {
        background-image: linear-gradient(to top, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6) 50%, transparent 60%), url(images/22_Lukowski.png);
    }

    .sub-header1 {
        background-image: linear-gradient(to top, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6) 50%, transparent 60%), url(images/pexels-sergei-starostin-6636500.jpg);
    }

    .sub-header2 {
        background-image: linear-gradient(to top, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6) 50%, transparent 60%), url(images/headers_akashic.png);
    }

    .sub-header3 {
        background-image: linear-gradient(to top, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.7) 30%, transparent 60%), url(images/Contact-Us.jpg);
    }

    .sub-header4 {
        background-image: linear-gradient(to top, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6) 50%, transparent 60%), url(images/PCBPost_063021.png);
    }


    .text-box {
        position: center;
        margin: 15%;
        margin-top: 30%;
    }

    .text-box h1 {
           
            font-size: 20px;
            display: inline-block;
            position: relative;

        }

    .text-box p {
            font-size: 15px;
            text-align: center;
            
        }

    .text-box a {
            font-size: 15px;
            text-align: center;
            
     }

    .text-box1 h1 {
        font-size: 30px;
        text-align: center;
        margin: 0;
        margin-top: 50vh;
    }

    
    

  

   


}
